{% include 'layout/mdb_head.html' %}



<!--Main layout-->
<main class="mt-5">
    <div class="container">
        {% if (msg) %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong></strong> {{ msg }}.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <!--Section: Best Features-->
        <section id="best-features" class="text-center">

            <!-- Heading -->
            <h2 class="mb-5 font-weight-bold">Our Aims and Objectives</h2>
            
            <!--Grid row-->
            <div class="row d-flex justify-content-center mb-4">

                <!--Grid column-->
                <div class="col-md-8">

                    <!-- Description -->
                    <p class="grey-text"></p>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-4 mb-5">
                    <i class="fa fa-camera-retro fa-4x orange-text"></i>
                    <h4 class="my-4 font-weight-bold"> Unforgettable Experience</h4>
                    <p class="grey-text">By having this car-pooling experience, we hope every passenger could enjoy their unique experience on taking the ride</p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-4 mb-1">
                    <i class="fa fa-heart fa-4x orange-text"></i>
                    <h4 class="my-4 font-weight-bold">Share Happiness to everyone </h4>
                    <p class="grey-text">With this platform, we hope we could connect the dots between people and share their happiness to others by promoting the idea of sharing through this platform.</p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-4 mb-1">
                    <i class="fa fa-bicycle fa-4x orange-text"></i>
                    <h4 class="my-4 font-weight-bold">Covenient Transportation</h4>
                    <p class="grey-text">With this platform, we hope it could provide a convenient and comfortable approach other than public transport.    </p>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Best Features-->

        <hr class="my-5">

        <!--Section: Examples-->
        <section id="examples" class="text-center">

            <!-- Heading -->
            <h2 class="mb-5 font-weight-bold">Carpooling service that are currently avaliable</h2>

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">
                   <a href="" id="car-1">
                    <div class="view overlay z-depth-1-half">

                        <img src="img/toyota1.jpg" id="car1"class="img-fluid" alt="">

                        <div class="mask rgba-white-slight"></div>
                    </div>
                </a>
                <h4 class="my-4 font-weight-bold" id="car1-text"></h4>
                <p class="grey-text" id="car1-desc"></p>

            </div>



            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">

                <a href="" id="car-2">
                    <div class="view overlay z-depth-1-half">
                        <img src="img/toyota2.jpg" id="car2" class="img-fluid" alt="">
                        <div class="mask rgba-white-slight"></div>
                    </div>
                </a>

                <h4 class="my-4 font-weight-bold" id="car2-text">Toyota Highlander</h4>
                <p class="grey-text" id="car2-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                    maiores nam,
                    aperiam minima
                assumenda deleniti hic.</p>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">
                <a href="" id="car-3">
                    <div class="view overlay z-depth-1-half">
                        <img src="img/toyota3.jpg" id="car3" class="img-fluid" alt="">
                        <div class="mask rgba-white-slight"></div>
                    </div>
                </a>
                <h4 class="my-4 font-weight-bold" id="car3-text">Toyota Prius Prime</h4>
                <p class="grey-text" id="car3-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                    maiores nam,
                    aperiam minima
                assumenda deleniti hic.</p>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">
                <a href="" id="car-4">
                    <div class="view overlay z-depth-1-half">
                        <img src="img/audi1.jpg" id="car4" class="img-fluid" alt="">
                        <div class="mask rgba-white-slight"></div>
                    </div>
                </a>
                <h4 class="my-4 font-weight-bold" id="car4-text">Audi A5</h4>
                <p class="grey-text"id="car4-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                    maiores nam,
                    aperiam minima
                assumenda deleniti hic.</p>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">
                <a href="" id="car-5">
                    <div class="view overlay z-depth-1-half">
                        <img src="img/audi2.jpg" id="car5" class="img-fluid" alt="">
                        <div class="mask rgba-white-slight"></div>
                    </div>
                </a>
                <h4 class="my-4 font-weight-bold" id="car5-text">Audi A7</h4>
                <p class="grey-text" id="car5-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                    maiores nam,
                    aperiam minima
                assumenda deleniti hic.</p>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">
                <a href="" id="car-6">
                    <div class="view overlay z-depth-1-half">
                        <img src="img/audi3.jpg" id="car6" class="img-fluid" alt="">
                        <div class="mask rgba-white-slight"></div>
                    </div>
                </a>
                <h4 class="my-4 font-weight-bold" id="car6-text">Audi Q7</h4>
                <p class="grey-text" id="car6-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                    maiores nam,
                    aperiam minima
                assumenda deleniti hic.</p>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </section>
    <!--Section: Examples-->

    <hr class="my-5">

    <!--Section: Gallery-->
    <section id="gallery">

        <!-- Heading -->
        <h2 class="mb-5 font-weight-bold text-center"><i class="far fa-star"></i>Top Rated carpooling service<i class="far fa-star"></i></h2>

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="img/toyota1.jpg">
                        </div>
                        {% for i in data %}
                        <div class="carousel-item">
                            <img class="d-block w-100" src="img/{{i[0]}}">
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6">

                <!--Excerpt-->
                <a href="" class="teal-text">
                    <h6 class="pb-1"><i class="fa fa-heart"></i><strong> Lifestyle </strong></h6>
                </a>
                <h4 class="mb-3"><strong>Only the Top Rated services of this website are shown here</strong></h4>


            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </section>
    <!--Section: Gallery-->





    <hr class="my-5">

    <!--Section: Contact-->
    <section id="contact">

        <!-- Heading -->
        <h2 class="mb-5 font-weight-bold text-center">Feedbacks on Car2Go</h2>



<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
    <li data-target="#multi-item-example" data-slide-to="1"></li>
  </ol>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">

        <div class="row">
                 
                {% for i in feedback %}
                  <div class="col-md-4">
                    <div class="card mb-2">

                      <div class="card-body">
                        <h4 class="card-title">Comment ID: {{i[1]}}</h4>
                        <p class="card-text">{{i[2]}}</p>
                      </div>
                    </div>
                  </div>

                {% endfor %}

        </div>
    <!--/.First slide-->
</div>

    <!--Second slide-->
    <div class="carousel-item">
        <div class="row">
              {% for i in feedback2 %}
                  <div class="col-md-4">
                    <div class="card mb-2">

                      <div class="card-body">
                        <h4 class="card-title">Comment ID: {{i[1]}}</h4>
                        <p class="card-text">{{i[2]}}</p>
                      </div>
                    </div>
                  </div>

                {% endfor %}
    </div>
    <!--/.Second slide-->
  </div>
  <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class=" col-md-12">
                <!-- Form contact -->
                <form class="p-5 grey-text" method="POST" action="/" enctype="multipart/form-data">

                    <div class="md-form form-sm"> <i class="fa fa-pencil prefix"></i>
                        <textarea type="text" id="form8" class="md-textarea form-control form-control-sm" rows="4" name="feedback"></textarea>
                        <label for="form8"><h3>Comment here to make us improve</h3></label>
                    </div>
                    <div class="text-center mt-4">
                        <button class="btn btn-primary">Send <i class="fa fa-paper-plane-o ml-1"></i></button>
                    </div>
                </form>
                <!-- Form contact -->
            </div>
            <!--Grid column-->

            <!--Grid column-->

            <!--Grid row-->
            <div class="row text-center">

                <!--Grid column-->


            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </section>
    <!--Section: Contact-->


    <!-- Heading -->

    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-7 col-md-12">

        <!--Grid row-->
        <div class="row text-center">

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-3">

                <p><i class="fa fa-map fa-1x mr-2 grey-text"></i>Hong Kong</p>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-3">

                <p><i class="fa fa-building fa-1x mr-2 grey-text"></i>Operating time: All the time.</p>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-3">

                <p><i class="fa fa-phone fa-1x mr-2 grey-text"></i>+ 2552 2222</p>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->



    </div>
    <!--Grid column-->

</div>
<!--Grid row-->

</section>
<!--Section: Contact-->

</div>
</main>
<!--Main layout-->










<!-- <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
-->
{% include 'layout/mdb_foot.html' %}

<script type="text/javascript">
    $( document ).ready(function() {
        var p = document.createElement("p")
        var p1 = document.createElement("p")
        var p2 = document.createElement("p")
        var p3 = document.createElement("p")
        var p4 = document.createElement("p")
        var p5 = document.createElement("p")
        function pollData() {
            $.ajax({
                type: "GET",
                url: '/poll-data',
                // dataType: "html",
                success: function(data) {
                    console.log(data.data);
                    document.getElementById("car1").src = 'img/'+data.data[0][5];
                    p.innerHTML ='License Plate: '+ data.data[0][1];
                    $("#car1-text").text(data.data[0][2]).append(p);
                    $("#car1-desc").text(data.data[0][4]);

                    document.getElementById("car2").src = 'img/'+data.data[1][5];
                    p1.innerHTML ='License Plate: '+ data.data[1][1];
                    $("#car2-text").text(data.data[1][2]).append(p1);
                    $("#car2-desc").text(data.data[1][4]);

                    document.getElementById("car3").src = 'img/'+data.data[2][5];
                    p1.innerHTML ='License Plate: '+ data.data[2][1];
                    $("#car3-text").text(data.data[2][2]).append(p2);
                    $("#car3-desc").text(data.data[2][4]);

                    document.getElementById("car4").src = 'img/'+data.data[3][5];
                    p1.innerHTML ='License Plate: '+ data.data[3][1];
                    $("#car4-text").text(data.data[3][2]).append(p3);
                    $("#car4-desc").text(data.data[3][4]);

                    document.getElementById("car5").src = 'img/'+data.data[4][5];
                    p1.innerHTML ='License Plate: '+ data.data[4][1];
                    $("#car5-text").text(data.data[4][2]).append(p4);
                    $("#car5-desc").text(data.data[4][4]);

                    document.getElementById("car6").src = 'img/'+data.data[5][5];
                    p1.innerHTML ='License Plate: '+ data.data[5][1];
                    $("#car6-text").text(data.data[5][2]).append(p5);
                    $("#car6-desc").text(data.data[5][4]);

                    document.getElementById("car-1").href = "/enroll?car_id=" +data.data[0][0];
                    document.getElementById("car-2").href = "/enroll?car_id=" +data.data[1][0];
                    document.getElementById("car-3").href = "/enroll?car_id=" +data.data[2][0];
                    document.getElementById("car-4").href = "/enroll?car_id=" +data.data[3][0];
                    document.getElementById("car-5").href = "/enroll?car_id=" +data.data[4][0];
                    document.getElementById("car-6").href = "/enroll?car_id=" +data.data[5][0];

                },
                error: function() {
                    console.log('Error occured');
                }
            });
        }
        pollData();
        setInterval(function(){ pollData() }, 3000);
        
    });



</script>