{% include 'layout/mdb_head.html' %}

<link href="css/addons-pro/steppers.css" rel="stylesheet">
<!-- Stepper CSS - minified-->
<link href="css/addons-pro/steppers.min.css" rel="stylesheet">

<style>
.step  {
     max-width:100% !important;
    height:auto !important;


  }
 </style>

<!-- Vertical Steppers -->
<div class="container">
<!-- Vertical Steppers -->
<div class="row mt-1">
  <div class="col-md-12">

    <!-- Stepers Wrapper -->
    <ul class="stepper stepper-vertical">

      <!-- First Step -->
      <li class="active">
        <a href="#!">
          <span class="circle">1</span>
          <span class="label">First step</span>
        </a>

        <div class="step-content grey lighten-3">
        	<p><h5>Log in to your personal account</h5></p>
        	<img class ="step" src="img/signin.png">
        </div>
      </li>

      <!-- Second Step -->
      <li class="active">

        <!--Section Title -->
        <a href="#!">
          <span class="circle">2</span>
          <span class="label">Second step</span>
        </a>

        <!-- Section Description -->
        <div class="step-content grey lighten-3">
          <p><h5>Click the icon of <strong>Becoming a driver</strong></h5></p>
          <img class ="step" src="img/step2driver.png">
        </div>
      </li>

      <!-- Third Step -->
      <li class="active">
        <a href="#!">
          <span class="circle">3</i></span>
          <span class="label">Third step</span>
        </a>

        <!-- Section Description -->
        <div class="step-content grey lighten-3">
          <p><h5>Post a order by inputting the respective information(for instance: License Plate, Car Model)</h5></p>
          <img class ="step" src="img/step3driver.png">
        </div>
      </li>

      <!-- Fourth Step -->
      <li class="active">
        <a href="#!">
          <span class="circle">4</span>
          <span class="label">Fourth step</span>
        </a>

        <!-- Section Description -->
        <div class="step-content grey lighten-3">
          <p><h5>The most updated post will be display on the <strong>home</strong> page for passengers to enroll</h5></p>
          <img class ="step" src="img/step4driver.png">
        </div>
      </li>

            <!-- Fifth Step -->
      <li class="active">
        <a href="#!">
          <span class="circle">5</span>
          <span class="label">Fifth Step</span>
        </a>

        <!-- Section Description -->
        <div class="step-content grey lighten-3">
          <p><h5>If passengers enroll for the order, drivers could accept or decline the order from the <strong>dashboard</strong> page</h5></p>
          <img class ="step" src="img/step5driver.png">
        </div>
      </li>

      <!-- Sixth Step -->
      <li class="active">
        <a href="#!">
          <span class="circle">6</span>
          <span class="label">Sixth Step</span>
        </a>

        <!-- Section Description -->
        <div class="step-content grey lighten-3">
          <p><h5>Driver could scan the <strong>QR code</strong> to validate the passenger the identity</h5></p>
        </div>
      </li>

    </ul>
    <!-- /.Stepers Wrapper -->

  </div>
</div>


<!-- /.Vertical Steppers -->

</div>

{% include 'layout/mdb_foot.html' %}

<!-- Stepper JavaScript -->
<script type="text/javascript" src="js/addons-pro/stepper.js"></script>
<!-- Stepper JavaScript - minified -->
<script type="text/javascript" src="js/addons-pro/stepper.min.js"></script>

