<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">
    <div style="height: 60px;"></div>

    <!--Footer Links-->
    <div class="container mt-5 mb-4 text-center text-md-left">
        <div class="row mt-3">

            <!--First column-->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>How to use?</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 100px;">
                <p>
                    <a href="/stepdriver">Drivers Tutorial</a>
                </p>
                <p>
                    <a href="/steppassengers">Passengers Tutorial</a>
                </p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Services</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 75px;">
                <p>
                    <a href="/driverfilter">Drivers</a>
                </p>
                <p>
                    <a href="/filter">Passengers</a>
                </p>
            </div>
            <!--/.Second column-->

            <!--Third column-->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Useful links</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 100px;">
                <p>
                    <a href="/signup">Sign up </a>
                </p>
                <p>
                    <a href="/login">Sign in </a>
                </p>
                <p>
                    <a href="#!">Help</a>
                </p>
            </div>
            <!--/.Third column-->

            <!--Fourth column-->
            <div class="col-md-4 col-lg-3 col-xl-3">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Contact</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 65px;">
                <p>
                    <i class="fa fa-home mr-3"></i> Hong Kong</p>
                <p>
                    <i class="fa fa-envelope mr-3"></i> car2go@gmail.com</p>
                <p>
                    <i class="fa fa-phone mr-3"></i> + 2552 2222</p>
                <p>
                    <i class="fa fa-print mr-3"></i> + 9644 4413</p>
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->
    {% include 'layout/footer.html' %}
   
    <!-- Copyright -->

</footer>
<!-- Footer -->

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="MDB/js/jquery-3.4.0.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="MDB/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="MDB/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="MDB/js/mdb.min.js"></script>




